@import "../../utilities/colors.scss";

.button {
  border: 4px solid white;
  color: white;
  padding: 12px;
  text-align: center;
  display: block;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: map-get($map: $colors, $key: "violet");
  }

  &.violet {
    border-color: map-get($map: $colors, $key: "violet");
    color: map-get($map: $colors, $key: "violet");

    &:hover {
      background-color: map-get($map: $colors, $key: "violet");
      color: white;
    }
  }
}
