@import "../../utilities/colors.scss";

.indexPageContainer {
  a {
    text-decoration: none;
  }

  button {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.7rem;
  }
}

.introductionSection {
  color: white;
  background-position: center center;
  background-size: cover;

  .introductionSectionContent {
    background-color: map-get($map: $colors, $key: "transparentPrimaryViolet");
    padding-bottom: 120px;
    padding-top: 180px;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.7rem;
      margin-bottom: 35px;
    }
  }
}

.caseSection {
  padding-top: 35px;
  border-bottom: 5px solid map-get($map: $colors, $key: "lightGrey");
  padding-bottom: 20px;

  h2 {
    padding-bottom: 10px;
  }

  .caseImageBackground {
    background-size: cover;
    height: 200px;
    margin-bottom: 30px;
  }

  .caseBlackBackgroundContainer {
    background-color: map-get($map: $colors, $key: "transparentBlack");
    height: 100%;

    .button {
      display: none;
    }

    h3 {
      color: white;
      padding-left: 40px;
      padding-top: 40px;
      font-size: 1.7rem;
    }
  }
}

.servicesSection {
  background-color: map-get($map: $colors, $key: "lighterGrey");
  padding-top: 30px;
  padding-bottom: 60px;

  a {
    color: black;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.postsSection {
  padding-top: 30px;
  padding-bottom: 60px;

  button {
    margin-bottom: 50px;
  }
}

.infoSection {
  background-color: map-get($map: $colors, $key: "primaryViolet");
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;

  .infoContainer {
    margin: 60px 0;
  }

  .infoSectionParagraph {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

.reviewsSection {
  padding-top: 30px;
  padding-bottom: 60px;

  .reviewsRatingContainer {
    font-size: 1.5rem;
    color: map-get($map: $colors, $key: "brown");
    padding-top: 10px;
  }
  .reviewsStarsContainer {
    display: inline-block;
    padding-left: 20px;
  }

  img {
    max-width: 150px;
    padding: 15px 0 30px 0;
  }

  .reviewContainer {
    margin: 20px 0;
  }
}

.whyWorkSection {
  color: white;
  background-position: center center;
  background-size: cover;

  .violetBackground {
    background-color: map-get($map: $colors, $key: "transparentPrimaryViolet");
  }

  .whyWordParagraph {
    font-weight: 300;
  }

  .whyWorkSectionContent {
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 80%;

    ul {
      padding-left: 20px;
      margin-bottom: 40px;
    }

    li {
      font-size: 0.9rem;
      font-weight: 300;
      margin-bottom: 3px;
    }
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media screen and(min-width: 768px) {
  .indexPageContainer {
    .introductionSectionContent {
      padding-bottom: 200px;
      padding-top: 250px;

      h1 {
        font-size: 3rem;
        max-width: 500px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }

    .introductionButtonsContainer {
      display: flex;
      justify-content: left;

      .button {
        width: 250px;

        &:last-child {
          margin-right: 25px;
          margin-top: 0;
        }
      }
    }

    .caseSection {
      .caseSectionTitleContainer {
        display: flex;
        justify-content: space-between;

        .button {
          width: 300px;
        }
      }

      .caseBlackBackgroundContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .button {
          display: block;
          width: 250px;
          margin: 0 0 100px 30px;
        }
      }

      .caseImageBackground {
        height: 300px;
      }
    }
  }

  .servicesSection {
    .servicesTitleContainer {
      display: flex;
      justify-content: space-between;

      .button {
        width: 300px;
      }
    }
  }

  .postsSection {
    .postsContainer {
      margin-bottom: 25px;
      display: flex;
      justify-content: center;

      a {
        width: 100%;
      }
    }

    .postsTitleContainer {
      display: flex;
      justify-content: space-between;

      .button {
        width: 300px;
      }
    }
  }
}
