@import "../../utilities/colors.scss";

footer {
  color: white;
  background-color: map-get($map: $colors, $key: "strongViolet");
  padding: 50px 0;

  .footerContainer {
    position: relative;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .footerInfo {
    font-weight: 300;
    font-size: 0.85rem;

    p {
      margin-bottom: 35px;
    }
  }

  .footerBigHeaders {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .footerIconsContainer {
    i {
      font-size: 1.4rem;
      margin: 15px 8px 25px 0;
    }
  }

  .footerDirectionTitle {
    display: inline-block;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
  }

  .footerDirection {
    line-height: 1.4rem;
  }

  .footerServicesContainer {
    span {
      font-weight: 500;
      display: block;
      margin-bottom: 15px;
      margin-top: 25px;
    }

    .footerInfo {
      margin: 12px 0;
      display: block;
      color: map-get($map: $colors, $key: "lightGrey");

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  img {
    max-width: 320px;
  }

  nav {
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      a {
        color: map-get($map: $colors, $key: "lightGrey");
        margin: 0;
        font-size: 0.75rem;
      }
    }
  }

  .arrow {
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: map-get($map: $colors, $key: "green");
    border-radius: 100%;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
}
