.infoContainer {
  color: white;

  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    margin-bottom: 20px;
  }

  span {
    font-weight: 500;
    border-bottom: dashed 2px white;
    padding-bottom: 5px;
  }
}
